@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Lato", serif;
}

body {
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
  color: #3C4563;
}

h1 {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 15px;
}

h2 {
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 15px;
}

h3 {
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 15px;
}

h4 {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 15px;
}

h5 {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 15px;
}

h6 {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 15px;
}

.mb-1 {
  margin-bottom: 16px;
}


.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.body-object {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  z-index: -1;
}

button {
  border: 1px solid #E6E6F0;
  background-color: transparent;
  padding: 14px 28px;
  font-weight: 500;
  cursor: pointer;
  background-color: #4AE3C8;
}


/* header */
.header {
  padding: 20px 0px;
  transition: all .3s ease;
}

.header-wrapper a.logo img {
  max-width: 100px;
  transition: all .3s ease;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper nav ul {
  display: flex;
  align-items: center;
  gap: 28px;

}

.header-wrapper nav ul li a {
  color: #1B1C57;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  transition: all .3s ease;
}

.header-wrapper nav ul li:hover a {
  color: #10B981;
}

.header-wrapper a.logo {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #10B981;
}

.dummy-div {
  height: var(--header-height, 0);
  transition: all .3s ease;
}

.header.sticky {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  padding: 12px 0px;
}

/* .header.sticky a.logo img {
  max-width: 80px;
  transition: all .3s ease;
} */

/* header--end */


/* page-hero */

.page-hero {
  background: rgba(209, 250, 230, 0.4);
  padding: 80px 0px 89px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.page-hero-content h1 {
  font-size: 40px;
}

.page-hero-content p {
  font-size: 19px;
  text-transform: capitalize;
}

/* page-hero--end */


/* content-area */

.content {
  padding: 65px 0px 128px;
}

.content-wrapper>div {
  margin-bottom: 28px;
}

.content-wrapper h4 {
  margin-bottom: 12px;
}

.content-wrapper p {
  line-height: 26px;
}



/* form */
.form-wrapper h4 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #E6E6F0;
  border-radius: 0px;
  box-sizing: border-box;
  font-size: 16px;
  min-height: 48px;
}

select {
  width: 100%;
  padding: 6px 10px;
  margin: 5px 0;
  border: 1px solid #E6E6F0;
  border-radius: 0px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #fff;
  appearance: none;
  height: 48px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  resize: vertical;
}

input[type="submit"],
input[type="reset"],
input[type="checkbox"] {
  background-color: #4AE3C8;
  color: #3C4563;
  font-weight: 500;
  border: none;
  padding: 12px 28px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="checkbox"]:hover {
  background-color: #4AE3C8;
}

input:focus {
  border-color: #4AE3C8;
  outline: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* form--end */


/* content-area--end */


/* modal-css */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 111;
  transition: all .3s ease;
  opacity: 0;
  visibility: hidden;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  max-width: 520px;
  background: #fff;
  padding: 24px 20px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header h2 {
  margin-bottom: 0px;
  font-size: 24px;
}

.modal-close {
  width: 40px;
  height: 40px;
  padding: 0px;
  font-size: 18px;
}

.modal-body {
  padding-top: 16px;
}

.modal-body h4 {
  font-size: 20px;
  margin-bottom: 9px;
}

/* modal-css--end */






/* footer- */
.footer {
  position: relative;
  padding: 30px 0px 20px;
  background: rgba(209, 250, 230, 0.4);
  backdrop-filter: blur(4px);
}

.footer-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer-text {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

/* footer-end */